@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap");

* {
	font-family: "Karla", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

.dragging,
.dragging * {
	cursor: grabbing !important;
}
